.skip {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-radius: unset !important;
  background-color: #b4681b !important;
}

.collection {
  background: url(../public/images/1.png) no-repeat;
  background-size: cover;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.t-faction {
  color: #ce9d11;
  font-size: 23px;
  font-weight: bold;
}

.t-dao {
  font-size: 20px;
  line-height: 1.6
}

.t-title {
  background: #d8b011;
  font-weight: bold;
  width: fit-content;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 640px) {
  .t-content {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .t-title {
    padding-left: 0.75rem;
    font-size: 1.25rem;
  }
}

.mint-block {
  width: 40%;
  height: fit-content;
  background: linear-gradient(94.2deg,#ceb01b -11.95%,#7f6a28 91.22%);
  border: 4px dashed black;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
  margin-top: 4rem;
}

.mint {
  background: url(../public/images/3.png) no-repeat;
  background-size: cover;
}

.count-block {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increase {
  display: block;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}

.count {
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
}

.btn-mint {
  background: black;
  color: white;
  font-weight: bold;
  padding: 0.35rem 2rem;
  border-radius: 20px;
  border: none;
}